body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  width: 90vw;
}

.back-button {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  gap: 8px;
  cursor: pointer;
  color: black;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.label {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  font-size: 16px;
}

.back-button:hover .label {
  opacity: 1;
  transform: translateX(0);
}
